@import '../../../styles/settings.scss';

.container {
  padding: 20px;
  margin: 20px
}

label {
  display: flex;
  margin: 15px;
}

input, textarea, select {
margin-left: 15px;
padding: 2px;
}

.photo {
  width: 500px
}
