@import '../../styles/settings.scss';

.root {
  display: 'flex';
  flex: 'wrap';
  max-width: 90%;
};

.textField {
  margin-left: 25px;
  margin-right: 25px;
  height: 15px;
  padding: 35px 15px;
};

.photo {
  width: 70%;
  margin: auto auto;
  padding-top: 20px;
}
.selectField {
  margin-left: 30px;
  margin-right: 250px;
  height: 25px;
  width: 200px;
  padding: 15px;
};

.buttonGroup {
  padding: 25px;
  margin-top: 40px;
  margin:20px;

  .btn {
    margin-right: 20px;
  }
}
